</body>
<!-- Footer section -->
<footer id="footer-section">
  <div class="footer-elements">
    <h1 class="footer-header">Like what you see? give me a call!</h1>
    <ul>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
    </ul>
    <ul class="links-list">
      <li><a href="#">Home</a></li>
      <li><p>|</p></li>
      <li><a href="#">Projects</a></li>
      <li><p>|</p></li>
      <li><a href="#">Works</a></li>
      <li><p>|</p></li>
      <li><a href="#">Contact me</a></li>
    </ul>
    <p class="copyright">©2022 MB al-J & tech. all rights reserved. Hosted by Heroku</p>
  </div>
</footer>
<!-- Tiny script -->
<script>
  // tinymce.init({
  //   selector: 'textarea',
  //   plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
  //   toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
  //   toolbar_mode: 'floating',
  //   tinycomments_mode: 'embedded',
  //   tinycomments_author: 'Author name',
  // });
  
      tinymce.init({
        selector: '#mytextarea'
      });
    
</script>
</html>