</body>
<!-- Footer section -->
<footer id="footer-section">
  <div class="footer-elements">
    <h1 class="footer-header">Like what you see? give me a call!</h1>
    <ul>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
    </ul>
    <ul class="links-list">
      <li><a href="#">Home</a></li>
      <li><p>|</p></li>
      <li><a href="#">Projects</a></li>
      <li><p>|</p></li>
      <li><a href="#">Works</a></li>
      <li><p>|</p></li>
      <li><a href="#">Contact me</a></li>
    </ul>
    <p class="copyright">©2022 MB al-J & tech. all rights reserved. Hosted by Heroku</p>
  </div>
</footer>
</html>