<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MB.J Tech</title>
    <!-- Linked style sheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Bootstrap -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=BhuTuka+Expanded+One&family=League+Spartan&family=MuseoModerno:wght@200&family=Open+Sans&family=Oswald:wght@300&family=PT+Serif&family=Roboto:wght@300&family=Share+Tech+Mono&family=Square+Peg&display=swap"
      rel="stylesheet"
    />
    <!-- Tiny for Textarea -->
    <!-- Was replaced with a custom path using Tiny through npm -->
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/c31ef39b02.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <!-- Navbar section -->
      <div class="nav">
        <a href="/">
        <div class="nav-title" href="/">
          <i class="my-fa fa-solid fa-record-vinyl"></i>
          <h1 class="title-header">Baqir</h1>
        </a>
        </div>
        <div class="nav-sections">
          <ul class="navbar-list">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/#skills">Skills</a></li>
            <li><a href="/contact">Contact Me</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
