<%- include('partials/navbar') %>
</nav>

<div style="text-align:center ;">
    <form method="post" action="/colors">
        <input type="color" name="color" id="">

        <button type="submit">Update</button>
    </form>
</div>

<%- include('partials/footer') %>