<%- include('partials/navbar') %>
</nav>

<div class="form-div">
<h1 class="form-header">Create a Project Blog</h1>

<form class="project-form-create" action="/projects/create" method="POST">
    <div  class="input title form-header">
    <label for="title">Title</label>
    <input placeholder="Title" type="text" name="title" id="title">
    </div>
    <hr>
    <div class="inline-t-d">
    <div class="input description form-header">
        <label for="description">Description</label>
        <textarea cols="30" rows="10" placeholder="Description" name="description" id="description"></textarea>
    </div>
    <div class="tags">
        <% tags.forEach( tag => { %>
            <input type="checkbox" name="tags" value="<%= tag._id %>"><%= tag.name %><br>
        <% }) %>
    </div>
</div>
    <hr>
    <div class="input description form-header">
    <label for="blog">Blog</label>
    <textarea id="my-expressjs-tinymce-app" placeholder="Blog" name="blog" id="blog"></textarea>
    </div>
    <button type="submit">Publish</button>
</form>

</div>

<%- include('partials/footer') %>