<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MB.J Tech</title>
    <!-- Linked style sheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Bootstrap -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan&family=MuseoModerno:wght@200&family=PT+Serif:ital,wght@1,700&family=Roboto&family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/c31ef39b02.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <!-- Navbar section -->
      <div class="nav">
        <div class="nav-title">
          <i class="my-fa fa-solid fa-record-vinyl"></i>
          <h1 class="title-header">Baqir</h1>
        </div>
        <div class="nav-sections">
          <ul class="navbar-list">
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact Me</a></li>
          </ul>
        </div>
      </div>
      <!-- Speech bubble section -->
      <div id="speech-bubble-section">
        <div class="sbs-img-1">
          <img src="/images/stick-figure.png" alt="stick-figure" />
        </div>
        <div class="sbs-img-2 container">
          <img src="/images/speak-bubble.png" alt="" />
          <h1 class="centered-top">Hi I'm Mohmmad</h1>
          <h1 class="centered-bottom">A SoftWare enginerer</h1>
        </div>
      </div>
    </nav>
    <!-- Chat Button -->
    <div class="chat-button-div">
      <a href="#" class="chat-button"> Wanna Chat! </a>
    </div>
  </body>
</html>
