<%- include('partials/navbar') %>

<form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">

    <button type="submit">Login</button>
</form>



<%- include('partials/footer') %>