<%- include('partials/navbar') %>

<div class="login-success">
    <div>
        <h1>Login successful we are glad to have you <strong><%= user.firstName %></strong>!</h1>
        <a href="/">Go to the main page</a>
    </div>
</div>

<%- include('partials/footer') %>