<%- include('partials/navbar') %>
<!-- <div class="login-f-parent"> -->
    <div class="login-failure">    
        <h1>Login unsuccessful make sure you enter the correct credentials!!</h1>
    </div>
<!-- </div> -->
<form id="register" action="/login" method="POST">
    <div class="register-div">
        <h1 class="register-header">Become a blogger here!</h1>
        
        <div class="input-field">
            <label class="input-label-email" for="email">Email</label>
            <input  placeholder="Enter your Email" type="email" name="email" id="email">
        </div>
        <div class="input-field">
            <label class="input-label-password" for="password">Password</label>
            <input placeholder="Enter your Password" type="text" name="password" id="password">
        </div>
        <div class="input-field">
            <button class="register-button" type="submit">Login</button>
        </div>
    </div>
</form>



<%- include('partials/footer') %>