/* Tags style */
body{
    margin: 0px;
    padding: 0px;
    background-color: #FEFBF6;
    
}

li {
    padding:  0 20px;
    display: inline-block;
}

.nav div {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #fff;

}

/* navbar section */


.navbar {    
    background-color: #3ab0ff;
    padding: 0 150px;
}
.nav {
    padding-bottom: 200px;
}
.nav-title {
    font-family: 'PT Serif', serif;
    font-size: large;
    float: left;
}
.nav-sections {
    font-family: 'MuseoModerno', cursive;
    float: right;
}
.navbar-list {
    padding-top: 10px;
    display: inline-block;
}
.my-fa {
    font-size: 2rem;
    display: inline-block;
    padding-right: 5px;
    
}
.title-header {
    font-size: 2rem;
    display: inline-block;
}

/* speech-bubble section */

#speech-bubble-section {
    text-align: center;
    display: block;
}
#speech-bubble-section div {
    display: inline-block;
}

.sbs-img-1 {
    width: 30%;
}
.sbs-img-2 {
    width: 64%;
}

.sbs-img-1 img {
    width: 75%;
}
.sbs-img-2 img {
    margin-bottom:13% ;
    width: 75%;
}
/*text in img */
.container {
    position: relative;
    margin-left: -10%;
}
  /* Centered text */
  .centered-top {
    color: #2C3333;
    font-size: 3.5rem;
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-43%, -50%);
  }
  .centered-bottom {
    color: #1336aa;
    font-size: 2.5rem;
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    top: 37%;
    left: 49%;
    transform: translate(-43%, -50%);
  }
/* ____________________- */

/* Chat Button section */

.chat-button-div {
    padding: 150px 0;
    display: block;
    text-align: center;

}

.chat-button {
    color: #2C3333;
    background-color: #3ab0ff;
    border-radius: 45px;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 18px;
    font-family: 'Abril Fatface', cursive;
}

.chat-button:hover {
    color: #3ab0ff;
    background-color: #000;
    box-shadow: 1px;
    border-radius: 45px;
    font-size: 2.5rem;
    border: 2px solid #358fca;
    text-decoration: none;
    padding: 18px;
    font-family: 'Abril Fatface', cursive;
    opacity: 0.7;

}

/* HRs */

hr {
    margin-top: 20px;
    display: inline;
    width: 32%;
    height: 6px;
    background-color: #3ab0ff;
}

.hr {
    text-align: center;
    display: block;
    padding: 50px 0;
}
.hr-1 {
    padding-right: 30px;
    float: right;
}
.hr-2 {
    padding-left: 30px;
    float: left;
}


.hr-txt {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    color: #003865;
    font-size: 2.5rem;
}

/* What I do section */

#what-i-do {
    padding: 6% 7% 0;
}

.greenboard {
    margin-top:40px ;
    transform: rotate(-10deg);
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 80%;
    background-color: #36ae7c;
    overflow-x:hidden;
}

.row {
    padding: 65px 55px 0;
    transform: rotate(10deg);
}
.row div {
    display: inline-block;
}

.wis-txt {
    width: 55%;
    background-color: red;
    height: 100%;
}
.wis-img {
    float: left;
    width: 35%;
    background-color: blue;
    height: 100%;
}

.wid-txt {
    width: 55%;
    background-color: red;
    height: 100%;
}
.wid-img {
    float: right;
    width: 35%;
    background-color: blue;
    height: 100%;
}