/* Tags style */
body{
    margin: 0px;
    padding: 0px;
    background-color: #FEFBF6;
    
}

li {
    padding:  0 20px;
    display: inline-block;
}

.nav div {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #fff;

}

/* navbar section */


.navbar {    
    background-color: #3ab0ff;
    padding: 0 150px;
}
.nav {
    padding-bottom: 200px;
}
.nav-title {
    font-family: 'PT Serif', serif;
    font-size: large;
    float: left;
}
.nav-sections {
    font-family: 'MuseoModerno', cursive;
    float: right;
}
.navbar-list {
    padding-top: 10px;
    display: inline-block;
}
.my-fa {
    font-size: 2rem;
    display: inline-block;
    padding-right: 5px;
    
}
.title-header {
    font-size: 2rem;
    display: inline-block;
}

/* speech-bubble section */

#speech-bubble-section {
    text-align: center;
    display: block;
}
#speech-bubble-section div {
    display: inline-block;
}

.sbs-img-1 {
    width: 30%;
}
.sbs-img-2 {
    width: 64%;
}

.sbs-img-1 img {
    width: 75%;
}
.sbs-img-2 img {
    margin-bottom:13% ;
    width: 75%;
}
/*text in img */
.container {
    position: relative;
    margin-left: -10%;
}
  /* Centered text */
  .centered-top {
    color: #2C3333;
    font-size: 3.5rem;
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-43%, -50%);
  }
  .centered-bottom {
    color: #1336aa;
    font-size: 2.5rem;
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    top: 37%;
    left: 49%;
    transform: translate(-43%, -50%);
  }
/* ____________________- */

/* Chat Button section */

.chat-button-div {
    padding: 150px 0;
    display: block;
    text-align: center;

}

.chat-button {
    color: #2C3333;
    background-color: #3ab0ff;
    border-radius: 45px;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 18px;
    font-family: 'Abril Fatface', cursive;
}

.chat-button:hover {
    color: #3ab0ff;
    background-color: #000;
    box-shadow: 1px;
    border-radius: 45px;
    font-size: 2.5rem;
    border: 2px solid #358fca;
    text-decoration: none;
    padding: 18px;
    font-family: 'Abril Fatface', cursive;
    opacity: 0.7;

}

/* HRs */

hr {
    margin-top: 20px;
    display: inline;
    width: 32%;
    height: 6px;
    background-color: #3ab0ff;
}

.hr {
    text-align: center;
    display: block;
    padding: 50px 0;
}
.hr-1 {
    padding-right: 30px;
    float: right;
}
.hr-2 {
    padding-left: 30px;
    float: left;
}


.hr-txt {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    color: #003865;
    font-size: 2.5rem;
}

/* What I do section */

#what-i-do {
    padding: 6% 7% 0;
}

.what-i-study {
    padding-bottom: 200px;

}

.greenboard {
    margin-top:40px ;
    transform: rotate(-10deg);
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 80%;
    background-color: #36ae7c;
}


.yellowboard {
    margin-top:40px ;
    transform: rotate(-10deg);
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 80%;
    background-color: #ffb562;
}

.wis-row {
    position: absolute;
    top: -20px;
    padding: 65px 55px 0;
    transform: rotate(10deg);
    width: 100%;
    height: 100%;
    
}

.wid-row {
    position: absolute;
    right: 0;
    top: -20px;
    padding: 65px 55px 0;
    transform: rotate(10deg);
    width: 100%;
    height: 100%;
}
.wis-row div {
    display: inline-block;
}

.wid-row div {
    display: inline-block;
}

.wis-div-txt {
    display: block;
    margin-bottom: 50px;
    margin-left: 90px;
    width: 55%;
    height: 100%;
}
.wis-img {
    float: left;
    width: 35%;
    height: 100%;
}

.wid-div-txt {
    display: block;
    margin-bottom: 50px;
    margin-left: 90px;
    width: 55%;
    height: 100%;
}
.wid-img {
    float: right;
    width: 35%;
    height: 100%;
}

.board-header {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #003865;
    font-size: 2.2rem;
}

.board-p {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #003865;
    font-size: 1.2rem;
    padding-right: 20px;    
}

/* Skills section */
#skills {
    padding-top: 300px;
    padding-bottom: 300px;
}

.skill-div {
    margin-left: auto;
    margin-right: auto;
    background-color: #4700d8;
    width: 70%;
    height: 600px;
    transform: skewX(-25deg);
}
.skill-div .vertical {
    transform: skewX(25deg);
    display: block;
}

.vertical {
    border-left: 6px solid #3ab0ff;
    height: 80%;
    position:absolute;
    margin-left: 55%;
}
.skill-div-title {
    text-align: center;
}

.skill-header {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #7DCE13;
    font-size: 2.2rem;
}

.frontend-skills-div {
    transform: skewX(25deg);
    margin-left: 50px;
    text-align: center;
    width: 40%;
    float: left;
    
}

.frontend-skills-div li {
    text-align: left;
    display: block;
}

.frontend-element {
    width: 100%;
}

.frontend-header {
    margin: 0;
    margin-left: 150px;
    color: #FFC23C;
    font-size: 4rem;
    font-family: 'Square Peg', cursive;
}
.frontend-element div div, .frontend-element p {
    display: inline-block;

}
.frontend-element div {
    display: inline-block;
}